body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.board {
width: 600px;
height: 600px;
background-color: #eee; /* Base color */
background-image: 
    linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(-45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(-45deg, transparent 75%, #000 75%);
background-size: 40px 40px; /* Size of two squares */
background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}
