body {
    font-family: Sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    color: white;
    font-size: 20px;
    padding: 20px; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    font-weight: 800;
    min-width: 60px;
    aspect-ratio: 1;
}

.calculator {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    width: 320px;
}
.display{
    color: rgb(255, 255, 255);
    background-color: rgb(41, 36, 36);
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 32px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}
.number{
    background-color: rgb(5, 41, 55);
    color: 333;
}
.operator{
    background-color: rgb(255, 115, 0);
    color: white;
}
.delete{
    background-color: rgb(96, 131, 144);
    color: white;
}
.clear{
    background-color: rgb(96, 131, 144);
    color: white;
}
.equals{
    background-color: rgb(255, 115, 0);
    color: white;
}
.percent{
    background-color: rgb(96, 131, 144);
    color: white;
}
#current {
    overflow: hidden;
    white-space: nowrap;
    direction: ltr;
    text-align: right;
    font-size: 32px;
    color: 333;
}
.plus-minus {
    background-color: rgb(5, 41, 55);
    color: white;
}